<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Forward requests to the webpack dev server -->
        <rule name="WebpackDevServerProxy" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:9000/{R:0}" />
        </rule>
        <!-- Handle client-side routing for SPA -->
        <rule name="SPA Routes" stopProcessing="true">
          <match url="^(?!.*\.(css|js|jpg|png|gif|svg|json|scss)$).*$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>